GO
CREATE TABLE [dbo].[NotificationTemplateMaster](
	[NotificationTemplateMasterId] [int] IDENTITY(1,1) NOT NULL,
	[NotificationTypeId] [int] NOT NULL,
	[EmailTemplate] [nvarchar](max) NULL,
	[IsEmailSelect] [bit] NOT NULL,
	[SMSTemplate] [nvarchar](max) NULL,
	[IsSMSSelect] [bit] NOT NULL,
	[WhatsAppTemplate] [nvarchar](max) NULL,
	[IsWhatsAppSelect] [bit] NOT NULL,
	[RoboCallTemplate] [nvarchar](max) NULL,
	[IsRoboCallSelect] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_NotificationTemplateMaster] PRIMARY KEY CLUSTERED 
(
	[NotificationTemplateMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
