@using CompanyManagement.UI.Helpers;
@using Microsoft.Extensions.Options;
@inject IOptions<AppSettings> Settings
@{
    ViewData["Title"] = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/application/Company.js?v=@Settings.Value.JSVersion"></script>
<link href="~/css/application/datepicker.css" rel="stylesheet" />
<link href="~/css/application/bootstrap-clockpicker.min.css" rel="stylesheet" />
<script src="~/js/application/timepicki.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/application/datepicker.css" media="all" />
<link type="text/css" rel="stylesheet" href="~/css/application/jQuery-ui.css?v==@Settings.Value.JSVersion" media="all" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.js">
</script>


<title>Company</title>

<div class="container">
    <div class="row pb-3" id="AddEditUserDiv" >
        <div class="col-md-12 pl-2 pl-0-pr-0-mob">
            <h3 class="page-label-header mb-4">Company Information</h3>
        </div>
        <div class="tab-section menunav mt-1 w-100">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs pl-2 pl-0-pr-0-mob" id="AddEditTabs">
                <li  class="nav-item ">
                    <a id="liCompany" class="nav-link " data-toggle="tab" href="#companyDetails" onclick="GetCompanyDetails()">Company</a>
                </li>
                <li  class="nav-item ">
                    <a id="liBranch" class="nav-link " data-toggle="tab" href="#branch" onclick="GetBranchDetails()">Branch</a>
                </li>
                <li  class="nav-item">
                    <a id="liMail"class="nav-link" data-toggle="tab" href="#mailServerinfo" onclick="GetMailDetails()">Mail Server</a>
                </li>
                <li class="nav-item">
                    <a id="liSettings" class="nav-link " data-toggle="tab" href="#settings" onclick="GetCompanySettingsDetails()">Settings</a>
                </li>
                <li class="nav-item">
                    <a id="liTemplates" class="nav-link" data-toggle="tab" href="#templates" onclick="GetTemplateDetails()">Templates</a>
                </li>
                <li class="nav-item">
                    <a id="liThemes" class="nav-link" data-toggle="tab" href="#themes" onclick="GetThemeDetails()">Themes</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="col-md-12 tab-content mt-4 p-0">
                <div class="tab-pane active" id="companyDetails" >
                    <div class="row">
                        <div class="col-md-12 pl-2 pl-0-pr-0-mob">
                            <div class="article-box" style="min-height:325px;">
                                <div class="row"><h2 class="article-header pl-1 mb-0">Company Details</h2><span class="errormessage" id="companyDetailsError"></span></div>
                                <div class="row mt-15px-mob" id="Company">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="branch" style="display:none">
                    <div class="row">
                        <div class="col-md-12 pl-2 pl-0-pr-0-mob">
                            <div class="article-box" style="min-height:325px;">
                                <div class="row"><h2 class="article-header pl-1 mb-0">Branch Details</h2><span class="errormessage" id="branchDetailsError"></span></div>
                                <div class="row mt-15px-mob" id="Branch">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="mailServerinfo" style="display:none">
                    <div class="row">
                        <div class="col-md-12 pl-2 pl-0-pr-0-mob">
                            <div class="article-box" style="min-height:325px;">
                                <div class="row"><h2 class="article-header pl-1 mb-0">Mail Details</h2><span class="errormessage" id="companymailDetailsError"></span></div>
                                <div class="row mt-15px-mob" id="MailServer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="settings" style="display:none">
                    <div class="row">
                        <div class="col-md-12 pl-2 pl-0-pr-0-mob">
                            <div class="article-box" style="min-height:325px;">
                                <div class="row"><h2 class="article-header pl-1 mb-0">Settings</h2><span class="errormessage" id="companySettingsDetailsError"></span></div>
                                <div class="row mt-15px-mob" id="CompanySettings">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="templates" style="display:none">
                    <div class="row">
                        <div class="col-md-12 pl-2 pl-0-pr-0-mob">
                            <div class="article-box" style="min-height:325px;">
                                <div class="row"><h2 class="article-header pl-1 mb-0">Templates</h2><span class="errormessage" id="companyTemplateDetailsError"></span></div>
                                <div class="row mt-15px-mob" id="Template">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="themes" style="display:none">
                    <div class="row">
                        <div class="col-md-12 pl-2 pl-0-pr-0-mob">
                            <div class="article-box" style="min-height:325px;">
                                <div class="row"><h2 class="article-header pl-1 mb-0">Themes</h2><span class="errormessage" id="companyThemesDetailsError"></span></div>
                                <div class="row mt-15px-mob" id="Theme">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 pl-2 pr-2">

        </div>
    </div>
</div>