
    <div class="table-responsive">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Business Type<span style="color:red">*</span></p>
                    <select class="customselect" id="ddlBusinessType" onchange="GetSuggestedCompanyId()">
                       

                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Company Id</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtCompanyId" value="" disabled>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Name<span style="color:red">*</span></p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtName" value="" onfocus="CompanyOnFocus()">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Short Name<span style="color:red">*</span></p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtShortname" value="" onfocus="CompanyOnFocus()">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Address 1</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtAddress1" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Address 2</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtAddress2" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Pin / Zip </p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtPIN" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">District</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtDistrictCode" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">State</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtStateCode" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Country</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtCountryCode" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Admin Phone<span style="color:red">*</span></p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtAdminPhone" value="" onfocus="CompanyOnFocus()">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Service Phone</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtServicePhone" value="">
                </div>
            </div>

            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Admin Email<span style="color:red">*</span></p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtAdminEmail" value="" onfocus="CompanyOnFocus()">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Service Email</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtServiceEmail" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Secondary Email</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtSecondaryEmail" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">GST Number</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtGSTNumber" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Pan Number</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtPanNumber" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Currency Code</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtCurrencyCode" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Image File Path</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtImageFilePath" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">WebSite</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtWebsite" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Logo File Name</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtLogoFileName" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Favicon File Name</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtFabiconFileName" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-05">
                    <p class="all-textlabel">Login Image File Name</p>
                    <input type="text" class="form-control textbox-custom" placeholder="" id="txtLoginImageFileName" value="">
                </div>
            </div>
            <div class="col-md-2 pl-2 pr-0 pl-0-pr-0-mob mt-15px-mob">
                <p class="all-textlabel"> </p>
                <br />
                <label class="font11 all-textlabel l-p-initial cus-chkbox">
                    <input class="permissionCheckbox" id="PinRequired" checked="" name="PINRequired" type="checkbox" />Pin Required
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="col-md-2 pl-2 pr-0 pl-0-pr-0-mob mt-15px-mob">
                <p class="all-textlabel"> </p>
                <br />
                <label class="font11 all-textlabel l-p-initial cus-chkbox">
                    <input class="permissionCheckbox" type="checkbox" id="IsActive" checked="" name="IsActive" />Is Active
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="row text-right mt-3">
            <div class="col p-0">
                <button class="primary-button min-w-80px" onclick="AddCompany()">Save</button>
            </div>
        </div>
    </div>