@using System.Data
@model CompanyManagement.UI.Models.Response.OnBoardProcessinfo

<script src="~/js/application/jquery.richtext.min.js"></script>
<script src="~/js/application/jquery.richtext.js"></script>
<link href="~/css/application/richtext-min.css" rel="stylesheet" />
<div class="mb-10 text-left">
    <button class="primary-button min-w-80px" id="addTemplate" onclick="AddTemplate()">+ Add</button>
</div>
<div class="table-responsive" style="display:none" id="newTemplate">
    <div class="row">
        <div class="col-md-2">
            <div class="mb-12">
                <p class="all-textlabel">Template Type<span style="color:red">*</span></p>
                <input type="text" class="form-control textbox-custom" placeholder="" id="txtTemplateType" onfocus="TemplateOnFocus()">
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-12">
                <p class="all-textlabel">Name<span style="color:red">*</span></p>
                <input type="text" class="form-control textbox-custom" placeholder="" id="txtNameTemplate" onfocus="TemplateOnFocus()">
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-12">
                <p class="all-textlabel">Title<span style="color:red">*</span></p>
                <input type="text" class="form-control textbox-custom" placeholder="" id="txtTitle" onfocus="TemplateOnFocus()">
            </div>
        </div>
        <div class="col-md-3 text-right pr-0 pl-0-pr-0-mob">
            <p class="all-textlabel">&nbsp;</p>
            <input type="button" class="secondary-button mr-2 min-w-80px" value="Cancel" onclick="CancelTemplate(); UserListShow();" />
            <input type="button" class="primary-button min-w-80px" value="Save" onclick="AddEditTemplate()" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="mb-15">
                <p class="all-textlabel">HTML Data</p>
                <textarea class="content width100 bordccc" name="Description" id="txtHTMLData"></textarea>
            </div>
        </div>
        @*<div class="col-md-2 pl-2 pr-0 pl-0-pr-0-mob mt-15px-mob">
            <p class="all-textlabel"> </p>
            <br />
            <label class="font11 all-textlabel l-p-initial cus-chkbox">
                <input class="permissionCheckbox" type="checkbox" id="IsActiveTemplate" />Is Active
                <span class="checkmark"></span>
            </label>
        </div>*@

    </div>
    <input type='hidden' id='hdnTemplateId' value='0' />
</div>

<div class="scrollsetting">
    <div class="row">
        <div class="col p-0">
            <div class="custom-table mt-3">
                <table class="table table-responsive table-bordered border-0 mb-3">
                    <thead class="custom-table-thead">
                        <tr class="text-leftt-thtd">
                            <th style="width:20%"><p class="table-blankp mb-0">Template Type</p></th>
                            <th style="width:20%"><p class="table-blankp mb-0"> Name</p></th>
                            <th style="width:30%"><p class="table-blankp mb-0"> Title</p></th>
                            <th style="width:10%" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody class="custom-table-tbody" id="tbl_OnBoard_Template_body">
                        @if (Model != null && Model.OnBoardCompanyInfo != null && Model.OnBoardCompanyInfo.CompanyTemplate != null && Model.OnBoardCompanyInfo.CompanyTemplate.Count>0)
                        {
                            <tr>
                                <td style="width:20%" id='txtTemplateType_'></td>
                                <td style="width:20%" id='txtName_'></td>
                                <td style="width:30%" id='txtTitle_'></td>
                                <td style="width:10%" class="text-center">
                                    <i class="fas fa-pencil-alt" style="cursor:pointer" onclick="EditTemplate()"></i> | <i class="fas fa-trash-alt" style="cursor:pointer" onclick="DeleteTemplate()"></i>
                                </td>
                                <td style="width:0%" class="text-center">
                                    <input type='hidden' id='hdnTemplateId_' value='' />
                                    <input type='hidden' id='txtHTMLData_' value='' />
                                </td>
                            </tr>
                        }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $('.content').richText();


</script>


<input type='hidden' id='hdnRowCntTemplate' value="1" />