
<div class="table-responsive">
    <div class="row">
        <div class="col-md-12">
            <div class="mb-05">
                <p class="all-textlabel article-header pl-1 mb-0">Company</p>
                <div class="row">
                    <p class="all-textlabel col-md-2">Business Type:&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <p class="all-textlabel" id="summarybusinesstype"></p>
                </div>
                <div class="row">
                    <p class="all-textlabel col-md-2">Company Id:&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <p class="all-textlabel" id="summarycompanyid"></p>
                </div>
                <div class="row">
                    <p class="all-textlabel col-md-2">Company Name:&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <p class="all-textlabel" id="summarycompanyName"></p>
                </div>
                <div class="row">
                    <p class="all-textlabel col-md-2">Address:&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <p class="all-textlabel" id="summaryaddress"></p>
                </div>
                <div class="row">
                    <p class="all-textlabel col-md-2">Contact:&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <p class="all-textlabel" id="summarycontact"></p>
                </div>
                <div class="row">
                    <p class="all-textlabel col-md-2">Mail Server:&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <p class="all-textlabel" id="summarysmtp"></p>
                </div>
                <div class="row">
                    <p class="all-textlabel col-md-2">Branches:&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <p class="all-textlabel" id="summarybranch"></p>
                </div>


            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-05">
                <p class="all-textlabel article-header pl-1 mb-0">Subscriptions</p>
                <div class="row">
                    <p class="all-textlabel col-md-12" id="summarysubscription"></p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-05">
                <p class="all-textlabel article-header pl-1 mb-0">Add ons</p>
                <div class="row">
                    <p class="all-textlabel col-md-12" id="summaryaddon"></p>
                </div>
            </div>
        </div>
    </div>

</div>

