<div class="table-responsive">
    <table class="table mb-0">
        <thead class="headerth">
            <tr>
                <th style="width:20%;">Item Image </th>
                <th style="width:10%;"> Colour </th>
                <th style="width:10%;"> Total Qty Ordered</th>
                <th style="width:10%;"> Total Qty Ordered</th>
            </tr>
        </thead>
        <tbody class="headtabletbody" id="orderListbody_1">
            <tr style="vertical-align:middle;">
                <td rowspan="17" style="text-align:center;vertical-align:middle;">
                    <div data-toggle="modal" data-target="#lightboxmodal">
                        <img id="ImageSrc_1" onclick="ViewFullImage(1)" src="https://stageb.uvanij.com/images/item/NMK0704M01a.jpg" alt="My Kurta Hand Embroidery (NMK0704M01)" width="110" height="120">
                    </div>
                </td>
                <td style="vertical-align:middle;"> S </td>
                <td style="vertical-align:middle;"> Beige </td>
                <td style="vertical-align:middle;"> 45</td>
            </tr>

        </tbody>
    </table>
</div>