@using System.Data
@model CompanyManagement.UI.Models.Response.OnBoardProcessinfo

<div class="mb-10 text-left">
    <button class="primary-button min-w-80px" id="addTheme" onclick="AddTheme()">+ Add</button>
</div>
<div class="table-responsive" style="display:none" id="newTheme">

    <div class="row">
        <div class="col-md-3">
            <div class="mb-12">
                <p class="all-textlabel">Theme Name<span style="color:red">*</span></p>
                <input type="text" class="form-control textbox-custom" placeholder="" id="txtThemeName" onfocus="ThemesOnFocus()">
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-12">
                <p class="all-textlabel">Name Ext</p>
                <input type="text" class="form-control textbox-custom" placeholder="" id="txtExtThemeName">
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-12">
                <p class="all-textlabel">Image Ratio</p>
                <input type="text" class="form-control textbox-custom" placeholder="" id="txtImageRatio">
            </div>
        </div>
        <div class="col-md-3 text-right pr-0 pl-0-pr-0-mob">
            <p class="all-textlabel">&nbsp;</p>
            <input type="button" class="secondary-button mr-2 min-w-80px" value="Cancel" onclick="CancelTheme();" />
            <input type="button" class="primary-button min-w-80px" value="Save" onclick="AddEditTheme()" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="mb-12">
                <p class="all-textlabel">Colour</p>
                <input type="text" class="form-control textbox-custom" placeholder="" id="txtColour">
            </div>
        </div>
        <div class="col-md-2">
            <div class="mb-12">
                <p class="all-textlabel">No of Home Panels</p>
                <input type="text" class="form-control textbox-custom" placeholder="" id="txtNoOfHomePanels">
            </div>
        </div>
        <div class="col-md-2">
            <div class="mb-12">
                <p class="all-textlabel">Mobile Height</p>
                <input type="text" class="form-control textbox-custom" placeholder="" id="txtMobileHeight">
            </div>
        </div>
        <div class="col-md-2">
            <div class="mb-12">
                <p class="all-textlabel">Desktop Height</p>
                <input type="text" class="form-control textbox-custom" placeholder="" id="txtDesktopHeight">
            </div>
        </div>
        <div class="col-md-2 pl-2 pr-0 pl-0-pr-0-mob mt-15px-mob">
            <p class="all-textlabel"> </p>
            <br />
            <label class="font11 all-textlabel l-p-initial cus-chkbox">
                <input class="permissionCheckbox" type="checkbox" id="IsActiveTheme" />Is Active
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-md-2 pl-2 pr-0 pl-0-pr-0-mob mt-15px-mob">
            <p class="all-textlabel"> </p>
            <br />
            <label class="font11 all-textlabel l-p-initial cus-chkbox">
                <input class="permissionCheckbox" type="checkbox" id="IsDefault" />Is Default
                <span class="checkmark"></span>
            </label>
        </div>

    </div>
    <input type='hidden' id='hdnThemeId' value='0' />

</div>

<div class="scrollsetting">
    <div class="row">
        <div class="col p-0">
            <div class="custom-table mt-3">
                <table class="table table-responsive table-bordered border-0 mb-3">
                    <thead class="custom-table-thead">
                        <tr class="text-leftt-thtd">
                            <th style="width:20%"><p class="table-blankp mb-0"> Theme Name</p></th>
                            <th style="width:10%"><p class="table-blankp mb-0"> Name Ext</p></th>
                            <th style="width:10%"><p class="table-blankp mb-0"> Image Ratio</p></th>
                            <th style="width:10%"><p class="table-blankp mb-0"> Colour</p></th>
                            <th style="width:10%"><p class="table-blankp mb-0"> No of Home Panels</p></th>
                            <th style="width:10%"><p class="table-blankp mb-0"> Mobile Height</p></th>
                            <th style="width:10%"><p class="table-blankp mb-0"> Desktop Height</p></th>

                            <th style="width:10%" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody class="custom-table-tbody" id="tbl_OnBoard_Theme_body">
                        @if (Model != null && Model.OnBoardCompanyInfo != null && Model.OnBoardCompanyInfo.CompanyTheme != null && Model.OnBoardCompanyInfo.CompanyTheme.Count>0)
                        {
                            <tr>
                                <td style="width:20%" id='txtThemeName_'></td>
                                <td style="width:10%" id='txtExtThemeName_'></td>
                                <td style="width:10%" id='txtImageRatio_'></td>
                                <td style="width:10%" id='txtColour_'></td>
                                <td style="width:10%" id='txtNoOfHomePanels_'></td>
                                <td style="width:10%" id='txtMobileHeight_'></td>
                                <td style="width:10%" id='txtDesktopHeight_'></td>
                                <td style="width:10%" class="text-center">
                                    <i class="fas fa-pencil-alt" style="cursor:pointer" onclick="EditTheme()"></i> | <i class="fas fa-trash-alt" style="cursor:pointer" onclick="DeleteTheme()"></i>
                                </td>
                            </tr>
                        }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<input type='hidden' id='hdnRowCntBranch' value="1" />