@using CompanyManagement.UI.Helpers;
@using Microsoft.Extensions.Options;
@inject IOptions<AppSettings> Settings
@{
    ViewData["Title"] = "On-Board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/application/OnBoard.js?v=@Settings.Value.JSVersion"></script>
<link href="~/css/application/datepicker.css" rel="stylesheet" />
<link href="~/css/application/bootstrap-clockpicker.min.css" rel="stylesheet" />
<script src="~/js/application/timepicki.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/application/datepicker.css" media="all" />
<link type="text/css" rel="stylesheet" href="~/css/application/jQuery-ui.css?v==@Settings.Value.JSVersion" media="all" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.js">
</script>
<style>
    .btna {
        width: 35px !important;
        height: 35px !important;
        border-radius: 50% !important;
        display: inline-block;
        text-decoration: none;
        font-size: 17px !important;
    }

    .stepwizard-step p {
        margin-top: 0px;
        color: #666;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
    }

    .stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
        opacity: 1 !important;
        color: #bbb;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 35px;
        height: 35px;
        text-align: center;
        padding: 0;
        font-size: 15px;
        line-height: 33px;
        border-radius: 50%;
        background: #9cacd9 !important;
        border-color: #8da6d8 !important;
        border-width: 2px;
        color: #000 !important;
    }

    .btn-successa {
        color: #fff !important;
        background-color: #70ad47 !important;
        border-color: #4d832a !important;
    }

    .stepwizard-step:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 2px;
        background-color: #3567bf;
        z-index: -1;
        left: 0;
    }

    .stepwizard-stepfirst:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 50%;
        height: 2px;
        background-color: #3567bf;
        z-index: -1;
        left: 50%;
    }

    .stepwizard-steplast:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 50%;
        height: 2px;
        background-color: #3567bf;
        z-index: -1;
        left: 0;
    }
</style>

<title>Company On-Boarding</title>

<div class="container">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step stepwizard-stepfirst">
                <a href="#step-1" type="button" class="btna btn-successa btn-circle">1</a>
                <p><small>Company</small></p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btna btn-default btn-circle" disabled="disabled">2</a>
                <p><small>Base Subscription</small></p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btna btn-default btn-circle" disabled="disabled">3</a>
                <p><small>Add-Ons</small></p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-4" type="button" class="btna btn-default btn-circle" disabled="disabled">4</a>
                <p><small>Configuration</small></p>
            </div>
            <div class="stepwizard-step stepwizard-steplast">
                <a href="#step-5" type="button" class="btna btn-default btn-circle" disabled="disabled">5</a>
                <p><small>Summery</small></p>
            </div>
        </div>
    </div>


    <div class="panel panel-primary setup-content" id="step-1">
        <div class="panel-heading">
            <div class="container">
                <div class="row pb-3" id="AddEditUserDiv">
                    <div class="col-md-12 pl-2 pl-0-pr-0-mob">
                        <h3 class="page-label-header mb-4">Company Information</h3>
                    </div>
                    <div class="tab-section menunav mt-1 w-100">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs pl-2 pl-0-pr-0-mob" id="AddEditTabs">
                            <li class="nav-item ">
                                <a id="liCompany" class="nav-link " data-toggle="tab" href="#companyDetails" onclick="GetCompanyDetails()">Company</a>
                            </li>
                            <li class="nav-item ">
                                <a id="liBranch" class="nav-link " data-toggle="tab" href="#branch" onclick="GetBranchDetails()">Branch</a>
                            </li>
                            <li class="nav-item">
                                <a id="liMail" class="nav-link" data-toggle="tab" href="#mailServerinfo" onclick="GetMailDetails()">Mail Server</a>
                            </li>
                            <li class="nav-item">
                                <a id="liSettings" class="nav-link " data-toggle="tab" href="#settings" onclick="GetCompanySettingsDetails()">Settings</a>
                            </li>
                            <li class="nav-item">
                                <a id="liTemplates" class="nav-link" data-toggle="tab" href="#templates" onclick="GetTemplateDetails()">Templates</a>
                            </li>
                            <li class="nav-item">
                                <a id="liThemes" class="nav-link" data-toggle="tab" href="#themes" onclick="GetThemeDetails()">Themes</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="col-md-12 tab-content mt-4 p-0">
                            <div class="tab-pane active" id="companyDetails">
                                <div class="row">
                                    <div class="col-md-12 pl-2 pl-0-pr-0-mob">
                                        <div class="article-box" style="min-height:325px;">
                                            <div class="row"><h2 class="article-header pl-1 mb-0">Company Details</h2><span class="errormessage" id="companyDetailsError"></span></div>
                                            <div class="row mt-15px-mob" id="NewCompany">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="branch" style="display:none">
                                <div class="row">
                                    <div class="col-md-12 pl-2 pl-0-pr-0-mob">
                                        <div class="article-box" style="min-height:325px;">
                                            <div class="row"><h2 class="article-header pl-1 mb-0">Branch Details</h2><span class="errormessage" id="branchDetailsError"></span></div>
                                            <div class="row mt-15px-mob" id="Branch">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="mailServerinfo" style="display:none">
                                <div class="row">
                                    <div class="col-md-12 pl-2 pl-0-pr-0-mob">
                                        <div class="article-box" style="min-height:325px;">
                                            <div class="row"><h2 class="article-header pl-1 mb-0">Mail Details</h2><span class="errormessage" id="companymailDetailsError"></span></div>
                                            <div class="row mt-15px-mob" id="MailServer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="settings" style="display:none">
                                <div class="row">
                                    <div class="col-md-12 pl-2 pl-0-pr-0-mob">
                                        <div class="article-box" style="min-height:325px;">
                                            <div class="row"><h2 class="article-header pl-1 mb-0">Settings</h2><span class="errormessage" id="companySettingsDetailsError"></span></div>
                                            <div class="row mt-15px-mob" id="CompanySettings">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="templates" style="display:none">
                                <div class="row">
                                    <div class="col-md-12 pl-2 pl-0-pr-0-mob">
                                        <div class="article-box" style="min-height:325px;">
                                            <div class="row"><h2 class="article-header pl-1 mb-0">Templates</h2><span class="errormessage" id="companyTemplateDetailsError"></span></div>
                                            <div class="row mt-15px-mob" id="Template">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="themes" style="display:none">
                                <div class="row">
                                    <div class="col-md-12 pl-2 pl-0-pr-0-mob">
                                        <div class="article-box" style="min-height:325px;">
                                            <div class="row"><h2 class="article-header pl-1 mb-0">Themes</h2><span class="errormessage" id="companyThemesDetailsError"></span></div>
                                            <div class="row mt-15px-mob" id="Theme">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 pl-2 pr-2">

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary prevBtn pull-right" type="button">Prev</button>
            <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
        </div>
    </div>

    <div class="panel panel-primary setup-content" id="step-2">
        <div class="panel-heading">
            <h3 class="panel-title">Destination</h3>
        </div>
        <div class="panel-body">

            <button class="btn btn-primary prevBtn pull-right" type="button">Prev</button>
            <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
        </div>
    </div>

    <div class="panel panel-primary setup-content" id="step-3">
        <div class="panel-heading">
            <h3 class="panel-title">Schedule</h3>
        </div>
        <div class="panel-body">

            <button class="btn btn-primary prevBtn pull-right" type="button">Prev</button>
            <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
        </div>
    </div>
    <div class="panel panel-primary setup-content" id="step-4">
        <div class="panel-heading">
            <h3 class="panel-title">Schedule</h3>
        </div>
        <div class="panel-body">

            <button class="btn btn-primary prevBtn pull-right" type="button">Prev</button>
            <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
        </div>
    </div>
    <div class="panel panel-primary setup-content" id="step-5">
        <div class="panel-heading">
            <h3 class="panel-title">Cargo</h3>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary prevBtn pull-right" type="button">Prev</button>
            <button class="btn btn-success pull-right" type="submit">Save!</button>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {


        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');
            allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-successa').addClass('btn-default');
                $item.addClass('btn-successa');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function () {

            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid) nextStepWizard.removeAttr('disabled').trigger('click');
        });
        allPrevBtn.click(function () {

            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid) nextStepWizard.removeAttr('disabled').trigger('click');
        });
        $('div.setup-panel div a.btn-successa').trigger('click');
    });
</script>