* {
    /*font-family: "adobe-clean", sans-serif;*/
    /*"adobe-clean", sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'bebaskai';
    src: url('../../fonts/bebaskai.otf') format('opentype');
}

.row {
    margin-left: 0;
    margin-right: 0;
}
a {
    color: #2cb7ee;
}
body {
    //background-color: #f2f2f2;
    font-size: 10px;
}

.font10 {
    font-size: 10px !important;
}

.font11 {
    font-size: 11px !important;
}

.font12 {
    font-size: 12px !important;
}

.font13 {
    font-size: 13px !important;
}

.font14 {
    font-size: 14px !important;
}

.font15 {
    font-size: 15px !important;
}

.font20 {
    font-size: 20px !important;
}

.font22 {
    font-size: 22px !important;
}

#fontbold {
    font-weight: bold;
}

/*----------------------------------------------Loader---------------------------------*/
.page-loaderdiv {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0,0, 0.3);
    z-index: 9999;
}

.page-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}
/*----------------------------------------------Loader End---------------------------------*/
.form-control:focus {
    border-color: #2cb7ee;
    box-shadow: 0 0 0 0.2rem rgb(241 89 34 / 25%);
}

button:focus {
    outline: none !important;
}

button, input {
    outline: none !important;
}

.l-p-initial {
    letter-spacing: initial !important;
}

.p-control {
    padding: 0 13px;
}

.sidebar {
    width: 270px;
    display: inline-block;
    z-index: 1;
    vertical-align: top;
    position: fixed;
    background: #fff;
    height: 100%;
    border-right: 1px solid #dadada;
}

.main {
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 270px);
}

.nav-sidebar {
    background: none;
    margin-top: 5px;
}

.menuText {
    left: 65px;
    opacity: 1;
    position: absolute;
    /*color: #52514d;*/
    color: #dcdcdc;
    font-weight: 600;
    font-size: 15px;
}

.submenuText {
    left: 60px;
    opacity: 1;
    position: absolute;
    /*color: #52514d;*/
    color: #fff;
    font-weight: 600;
    font-size: 13px;
}
/*.submenuText:hover {
    color: #52514d;
}*/
.main-to-submenu li {
    list-style: none;
    border: none !important;
}

    .main-to-submenu li a {
        padding: 7px 10px !important;
    }

.submenuparent:hover .main-to-submenu {
    display: block;
}
/*.sidebar--Collapse .main-to-submenu {
    display: none !important;
}*/
.main-to-submenu {
    display: none;
    padding-left: 0;
    position: relative;
    width: 100%;
    background: #fb8067;
    top: 10px;
    left: -3px;
}

.sidebar--Collapse .main-to-submenu {
    width: 200px;
}

.active-li .menuText {
    color: #52514d;
}
/*.active-lisub .submenuText {
    color: #52514d;
}*/
.nav li:hover .menuText {
    color: #2cb7ee;
}

.collapseToggle {
    padding-left: 4px;
    display: block;
    cursor: pointer;
    padding-right: 5px;
}

#toggleIcon {
    padding: 20px 10px;
}

.rotate {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    text-align: center;
    padding: 20px 0;
}

.sidebar--Collapse {
    width: 65px;
}

    .sidebar--Collapse .menuText {
        opacity: 0;
        position: absolute;
        display: none;
    }

.main {
    margin-left: 270px;
}

.main--slide {
    margin-left: 65px;
    width: calc(100% - 65px);
}

.navbar-default-bordercontrol {
    border: none !important;
    border-bottom: 1px solid #dadada !important;
    padding: 0 15px;
}

.gr-chevcolor {
    color: #456b69;
    font-size: 20px !important;
}

.menuicon {
    color: #e2e4e4;
    font-size: 20px !important;
}

.sidebar ul li a {
    padding: 12px 20px;
}

.leftnavbar li {
    border-left: 3px solid #fff;
    width: 100%;
    padding: 10px 0;
    position: relative;
}

.active-li {
    border-left: 3px solid #2cb7ee !important;
}

    .active-li .menuicon {
        color: #2cb7ee;
    }

.leftnavbar li:hover {
    border-left: 3px solid #2cb7ee;
}

    .leftnavbar li:hover .menuicon {
        color: #2cb7ee;
    }

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}

.report-add {
    border-top: 1px solid #dadada;
}

.dropdown-menu-custom {
    background: #fff;
    box-shadow: 0 0 5px #dadada;
    display: none;
}

.customdropdown:hover .dropdown-menu-custom {
    display: block;
}

.dropdown-item-custom {
    display: block;
    padding: 6px 6px;
    color: #333;
    font-size: 13px;
}

.color456b6b {
    color: #456b6b
}

.right-icon-style {
    font-size: 18px;
}

.p-control-icon {
    padding: 0 10px;
}

.main .cus-fixedtop {
    margin-left: 270px;
}

.w-120px {
    width: 120px;
}

.secondary-button {
    border: 2px solid #2cb7ee;
    font-size: 13px;
    color: #2cb7ee;
    padding: 3px 8px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
}

.primary-button {
    border: 2px solid #2cb7ee;
    font-size: 13px;
    color: #fff;
    background-color: #2cb7ee;
    padding: 3px 8px;
    font-weight: 600;
    cursor: pointer;
}

.main--slide .cus-fixedtop {
    margin-left: 65px;
}

.page-inner-section {
    padding-top: 80px !important;
    padding-bottom: 50px !important;
}

/*.page-label-header {
    text-transform: uppercase;
    color: #6A6662 ;
    font-size: 28px;
    font-weight: bold;
}*/
.page-label-header {
    //text-transform: uppercase;
    color: #827d79;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.all-textlabel {
    color: #827d79;
    //text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 8px;
    font-weight: 600;
    letter-spacing: 2px;
}

.wp-initial {
    white-space: initial !important;
}

.customdropdownselect {
    position: relative;
}

.w-180px {
    width: 180px;
}

.customdropdownselect:after {
    position: absolute;
    content: "";
    top: 10px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #e2e4e4;
    right: 10px;
    pointer-events: none;
}

.customdropdownselect select {
    -webkit-appearance: none !important;
    color: #827d79;
    font-size: 12px;
    border: 1px solid #e2e4e4;
    border-radius: 0;
    height: 30px !important;
    padding: 5px 34px 5px 5px;
}

.textbox-custom {
    color: #6A6662;
    font-size: 12px;
    border: 1px solid #e2e4e4;
    border-radius: 0;
    padding: 5px 5px 5px 5px;
}

.input-group-text-customstyle {
    border-left: 0 !important;
    background-color: #fff;
    border-radius: 0;
    padding-left: 6px;
    padding-right: 6px;
}

.colordfe2e2 {
    color: #dfe2e2
}

.article-box {
    /*border: 1px solid #dadada;
    box-shadow: 0 0 5px #e1e1e1;*/
    box-shadow: 0 0 3px #d0d0d0;
    min-height: 164px;
    border-top: 4px solid #2cb7ee;
    padding: 15px;
    background: #fff;
}

.article-header {
    color: #3f3f37;
    font-size: 15px;
    //text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    height: 35px;
    overflow: hidden;
}

.article-sub-header {
    color: #3f3f37;
    font-size: 13px;
    //text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    height: 35px;
    overflow: hidden;
}

.amount-large {
    font-size: 36px;
    color: #827d79;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0;
}

    .amount-large span {
        font-family: 'Oswald', sans-serif;
    }

.amount-small span {
    font-family: 'Oswald', sans-serif;
}

.amount-small {
    font-size: 18px;
    color: #9bbb49;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 5px;
    white-space: pre;
}

.amount-small-span {
    position: relative;
    top: -5px;
}

.top--5 {
    top: -5px;
}

.nagative-amount {
    color: #ec4141;
}

.tab-section .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #2cb7ee;
    /*text-transform: uppercase;*/
    font-size: 13px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    letter-spacing: 2px;
}

.tab-section .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent !important;
    border-bottom: 2px solid #2cb7ee !important;
}

.tab-section .nav-link.active {
    border-bottom: 2px solid #2cb7ee !important;
}

.tab-section .nav-tabs {
    border-bottom: none !important;
}

.tab-section .nav-link {
    font-size: 13px;
    font-weight: 600;
    color: #827d79;
    padding: 0 0 5px 0;
    margin-right: 20px;
    border-bottom: 2px solid transparent;
    letter-spacing: 2px;
}

.colorb9b9b9 {
    color: #b9b9b9;
}

.legnd1 {
    color: #456b69;
}

.legnd2 {
    color: #2cb7ee;
}

.color7a7571 {
    color: #6A6662;
}

.legnd1bg {
    background-color: #5d7f7f !important;
}

.legnd2bg {
    background-color: #2cb7ee !important;
}

.color7a7571bg {
    background-color: #6A6662 !important;
}

.custom-table tbody {
    display: block;
    max-height: 200px;
    overflow: auto;
}

.height-maxheight {
    height: auto;
    max-height: unset !important;
}

.custom-table thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.ui-datepicker-calendar tbody tr {
    display: table-row;
}

.custom-table-thead th {
    background: #e2e4e4;
    color: #827d79;
    font-size: 11px;
    padding: 5px 5px;
    text-align: center;
    //text-transform: uppercase;
    /* border: solid 1px black !important; */
    letter-spacing: 1px;
    font-weight: 600;
    border-bottom-width: 0 !important;
    font-family: 'Open Sans', sans-serif;
    /*border-right: 1px solid #fff;*/
}

.legend-p {
    color: #918d89;
    margin-bottom: 6px;
}

.legend-value-style {
    color: #827d79;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    margin-left: 7px;
}

.box-bottom-thead tr th {
    font-size: 13px;
    letter-spacing: 2px
}

.tableh2 {
    font-size: 25px;
}

.amount-small-span {
    font-size: 14px;
}

.pie-custom-label {
    color: #827d79;
}

.custom-table-tbody td {
    padding: 5px 5px;
    //text-transform: uppercase;
    font-size: 14px;
    color: #827d79;
    font-family: 'Open Sans', sans-serif;
    /*border-top: 1px solid #e2e4e4;
    border-bottom:none;*/
}

.custom-table-thead .fa-caret-down .fa-caret-up {
    float: right;
    margin-right: 5px;
}

.gradiant {
}

.text-leftt-thtd th {
    text-align: left;
}

.text-leftt-thtd td {
    text-align: left;
}

.table-value {
    font-size: 20px;
    color: #6A6662;
    font-weight: 600;
}

.page-loaderdiv {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 9999;
    top: 0;
    left: 0;
}

.page-loader {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.floatLeft {
    width: 48%;
    float: left;
}

.floatRight {
    width: 48%;
    float: right;
}

.containerd {
    overflow: hidden;
}

.addedclass {
    background-color: mistyrose;
}

.submenunav .nav-link.activesub {
    border: none !important;
    color: #2cb7ee !important;
    letter-spacing: initial;
}

.submenunav .nav-link {
    color: #827d79 !important;
    cursor: pointer !important;
    letter-spacing: initial;
}

    .submenunav .nav-link:hover {
        color: #2cb7ee !important;
    }

.custom-pagination .page-link {
    border: none;
    color: #2cb7ee !important;
    text-decoration: none;
    font-size: 14px;
}

.page-link-arrow {
    color: #868686 !important;
    text-decoration: none;
    font-size: 16px;
    padding: 0.5rem;
    line-height: 33px;
}



.fullpage-message-div {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 9999;
}

.main-msg-body {
    width: 570px;
    min-height: 130px;
    background: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 70px);
    box-shadow: 0 0 5px #848484;
    border-radius: 2px;
    border-top: 5px solid #7a7a7a;
    padding: 0 15px 15px 15px;
    left: 0;
}

.msg-close {
    color: red;
    opacity: 1;
    outline: none;
    border: none;
    background: none;
    font-weight: 600;
    font-size: 22px;
    padding: 0;
    line-height: initial;
}

.info-sm-bg {
    background: #c4d9e8;
}

.info-msg {
    background: #dde9f1;
}

.alert-icons-label i {
    padding: 15px 10px;
    font-size: 16px;
}

.info-fa-color {
    color: #0d55a3;
}

.warning-msg {
    background: #fbeee7;
}

.warning-sm-bg {
    background: #f7e1d5;
}

.warning-fa-color {
    color: #c23d11;
}

.sucess-msg {
    background-color: #e0f2e5;
}

.alert-icons-label {
    height: 45px;
    position: absolute;
    top: 0;
    margin-bottom: 0;
    background: #dadada;
    left: 0;
    width: 35px;
}

.success-fa-color {
    color: #007823;
}

.padding-control-withmsgdivstyle {
    padding: 13px 15px 13px 45px;
    height: 45px;
    position: relative;
    font-weight: 600;
    font-size: 12px;
    color: #6d6d6d;
}

.error-msg {
    background-color: #fbebeb;
}

.alert-icons-label {
    height: 45px;
    position: absolute;
    top: 0;
    margin-bottom: 0;
    background: #dadada;
    left: 0;
    width: 35px;
}
.width100 {
    width: 100%;
}
.errormessage{
    font-size:15px;
    color:red;
    margin-left:50px;
}
.bordccc {
    border: 1px solid #cccccc;
}
.error-fa-color {
    color: #ca1013;
}
.richText .richText-editor {
    height: 100px !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
}
.alert-modalcontent {
    border-radius: 0;
    border-top: 5px solid #7a7a7a;
}

.alt-modalheader {
    padding: 2px 15px;
}

.success-sm-bg {
    background: #b7ebc6;
}

.error-sm-bg {
    background: #f7d8d8;
}

.info-sm-bg {
    background: #c4d9e8;
}

.warning-sm-bg {
    background: #f7e1d5;
}
.primary-type-button {
    padding: 7px 8px;
    min-width: 85px;
    background: #7a7a7a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 13px;
    outline: none;
}

.custom-text-capitalize {
    text-transform: capitalize !important;
}

.custom-text-lowercase {
    text-transform: lowercase !important;
}

.table-mh-300 {
    max-height: 300px !important;
}

.custom-table-tbody::-webkit-scrollbar {
    width: 10px;
    padding-right: 10px;
}

.custom-table-tbody::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-table-tbody::-webkit-scrollbar-thumb {
    background: #827d79;
}

    .custom-table-tbody::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.min-w-80px {
    min-width: 80px;
}

.permission-card {
    box-shadow: 0 0 3px #d0d0d0;
    padding: 15px;
    background: #fff;
    min-height: 350px;
}
/* The container */
.cus-chkbox {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .cus-chkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: transparent;
    border: 1px solid #2cb7ee;
}


/* When the checkbox is checked, add a blue background */
.cus-chkbox input:checked ~ .checkmark {
    background-color: #2cb7ee;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.cus-chkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cus-chkbox .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-hover-div {
    top: 0;
    font-size: 15px;
    width: max-content;
    padding: 10px 15px 9px 5px;
    background: #2cb7ee;
    color: #fff;
    left: 0px;
    transition: ease-in all 0.2s;
    opacity: 0;
    visibility: hidden;
}

.leftnavbar li:hover {
    background: #2cb7ee;
    transition: ease-in all 0.2s;
}

    .leftnavbar li:hover .menuicon {
        color: #fff;
    }

    .leftnavbar li:hover .menuText {
        color: #fff;
    }

.sidebar--Collapse .leftnavbar li:hover .menu-hover-div {
    opacity: 1;
    visibility: visible;
}

.menu-hover-div .menuicon {
    margin-left: 13px;
    margin-right: 13px;
}
/*.sidebar--Collapse .leftnavbar li:hover {
    background: #2cb7ee;
}*/
.sidebar--Collapse .leftnavbar li:hover .menuicon {
    color: #fff;
}

.sidebar--Collapse .submenuparent {
    width: 200px;
    height: 41px;
}

.hov-anchor {
    padding: 0 !important;
    text-decoration: none !important;
    color: #fff !important;
}

.nagative-amount .fa-sort-down {
    position: relative;
    top: -3px;
}

.amount-small .fa-sort-up {
    position: relative;
    top: 3px;
}

.pointer-eventnone {
    pointer-events: none;
}

.person_man {
    width: 50px;
    height: 50px;
    border: 1px #CCCCCC solid;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 2px;
}

    .person_man img {
        max-width: 100%;
        height: 100%;
        width: 100%;
    }

.profile-label-input {
    letter-spacing: 2px;
    color: #827D79;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.profile-image {
    height: 48px;
    width: 48px;
    border: 1px #CCCCCC solid;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 2px;
}

    .profile-image img {
        max-width: 100%;
        height: auto;
    }

.profilecustom-file-input {
    overflow: hidden;
    opacity: 0
}

.uploadphoto-anchortypelabel {
    text-decoration: underline;
    letter-spacing: 0px;
    color: #2cb7ee;
    font-size: 14px;
    cursor: pointer;
}

@media only screen and (max-width: 1280px) and (min-width:1024px) {
    .w-180px {
        width: 140px;
    }
}

@media only screen and (max-width: 767px) and (min-width:320px) {
    .m-display-none {
        display: none;
    }

    .dropdown-menu-custom {
        right: 0;
        width: 140px;
    }

    .main--slide {
        margin-left: 0;
        width: 100%;
    }

    .sidebar--Collapse {
        display: none;
        width: 100%;
        z-index: 9;
    }

    .page-label-header {
        font-size: 28px;
    }

    .main--slide .cus-fixedtop {
        margin-left: 0;
    }

    .logo-mob-class {
        margin-left: 40px;
    }

    .mob-hamberger.fa-angle-double-left {
        font-size: 23px;
        color: #456b6b;
    }

    .mob-hamberger {
        color: #2cb7ee;
        font-size: 30px;
    }

    .sidebar--Collapse .menuText {
        opacity: 1;
        display: inline-block;
    }

    .pl-0-pr-0-mob {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .w-100-mob {
        width: 100%;
    }

    .mt-15px-mob {
        margin-top: 15px;
    }

    .mob-flex-basis {
        flex-basis: auto;
    }

    .article-header {
        height: auto;
    }

    .article-box {
        min-height: 100px;
    }

    .table-blankp {
        min-width: 140px;
    }

    .custom-table thead, tbody tr {
        display: revert;
        table-layout: auto;
    }

    .custom-table tbody {
        display: table-row-group;
    }

    .table-blankp-big {
        width: 280px;
    }

    .submenunav .nav-link {
        font-size: 12px;
    }

    .custom-table table {
        max-height: 300px;
        overflow: auto;
    }

        .custom-table table::-webkit-scrollbar {
            width: 10px;
            height: 10px;
            padding-right: 10px;
        }

        .custom-table table::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        .custom-table table::-webkit-scrollbar-thumb {
            background: #827d79;
            width: 10px;
            height: 10px;
        }

            .custom-table table::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

    .permission-card {
        min-height: initial;
    }

    .ml-0-mob {
        margin-left: 0 !important;
    }

    .mob-div-width {
        display: inline-block;
        width: 110px;
        vertical-align: top;
    }

        .mob-div-width .all-textlabel {
            text-align: left !important;
        }

    .mr-10px-mob {
        margin-right: 10px;
    }

    .w-180px {
        width: 200px;
    }

    .w-120px {
        width: 103px;
    }

    .float-none-mob {
        float: none !important;
    }

    .hov-anchor {
        display: none;
    }

    .word-break-brkall-mob {
        word-break: break-all;
    }

    .update-msg-test {
        display: block;
        margin-top: 10px;
    }

    .text-center-dis-block-mobile {
        display: block;
        text-align: center;
        width: 100%;
    }
}

.menuStyle {
    text-align: left;
    font-size: large;
    color: #2cb7ee;
    padding: 10px;
}
